.row{
  text-align: center;
}
.card{
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #eee;
}
.card.done {
  cursor: default;
}
.card.done:hover{
  box-shadow: none;
}
.card:hover{
  box-shadow: inset 0px 0px 0px 1px red;
  box-sizing: border-box;
}

.red{
  background: red;
}
.pink{
  background: pink;
}
.green{
  background: green;
}
.yellow{
  background: yellow;
}
.blue{
  background: blue
}
.teal{
  background: teal;
}
.orange{
  background: orange;
}
.cyan{
  background: cyan;
}

.color-hidden {
  background-color: #eee;
}