.row{
  text-align: center;
}
.card{
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #eee;
}
.red{
  background: red;
}
.pink{
  background: pink;
}
.green{
  background: green;
}
.yellow{
  background: yellow;
}
.blue{
  background: blue
}
.teal{
  background: teal;
}
.orange{
  background: orange;
}
.cyan{
  background: cyan;
}

.color-hidden {
  background-color: #eee;
}